{% load static %} <html lang="en">
<head>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td style="width: 50%;">
                    <img src="{% static 'img/logo.png' %}" class="logo">
                </td>
                <td class="text-end">
                    <p class="fs-16 pb-8 fw-700 ">Company name</p>
                    <p class="fs-14 lh-16" style="font-size: 1rem;"> Company address Line 1 State, City, Country -
                        Pincode </p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="hr"></div>
    <p class="fs-16 fw-700 text-center py-18">Taxslip for the Month of May 2022</p>
    <table class="vertical-align-top">
        <tbody>
            <tr>
                <td class="w-50 p-8 border">
                    <table class="td-py-6 td-px-8 td-fs-12">
                        <tbody>
                            <tr class="">
                                <td class="fw-600 w-50">Name:</td>
                                <td class="fw-500">
                                    <p>Madhukar Dhar</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-600">
                                    <p> Designation:</p>
                                </td>
                                <td class="fw-500">
                                    <p> Advanced Solution</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-600">
                                    <p> Department:</p>
                                </td>
                                <td class="fw-500">
                                    <p> Engineering</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-600">
                                    <p> Location:</p>
                                </td>
                                <td class="fw-500">
                                    <p> Bangalore</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-600">
                                    <p>Sex:</p>
                                </td>
                                <td class="fw-500">
                                    <p>Male</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-600">
                                    <p> DOJ:</p>
                                </td>
                                <td class="fw-500">
                                    <p> 22/03/2022</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="w-50 p-8 border">
                    <table class="td-py-6 td-px-8 td-fs-12">
                        <tbody>
                            <tr>
                                <td class="fw-600 w-50">
                                    <p> Employee ID: </p>
                                </td>
                                <td class="fw-500">
                                    <p> EMP700897</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-600">
                                    <p> Bank Account No: </p>
                                </td>
                                <td class="fw-500">
                                    <p> 093847823829437</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-600">
                                    <p> PF Number: </p>
                                </td>
                                <td class="fw-500">
                                    <p> PF78TE962DA</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-600">
                                    <p> UAN Number: </p>
                                </td>
                                <td class="fw-500">
                                    <p> UAN15ER654S</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-600">
                                    <p> PAN: </p>
                                </td>
                                <td class="fw-500">
                                    <p> BHTPC7812X</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-600">
                                    <p> Tax Regime: </p>
                                </td>
                                <td class="fw-500">
                                    <p>Old</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="py-8"></div>
    <table class="td-py-8 bg5 td-px-12 td-fs-12">
        <tbody>
            <tr>
                <td class="w-50 fw-600">TOTAL INCOME</td>
                <td class="w-50 fw-600 text-end">₹5,00,000</td>
            </tr>
        </tbody>
    </table>
    <div class="py-8"></div>
    <table class="td-py-8 bg5 td-px-12 td-fs-12">
        <tbody>
            <tr>
                <td class="w-50 fw-600">TOTAL TAXABLE INCOME</td>
                <td class="w-50 fw-600 text-end">₹5,00,000</td>
            </tr>
        </tbody>
    </table>
    <div class="py-8"></div>
    <table class="td-py-8 bg6 td-px-12 td-fs-12">
        <tbody>
            <tr>
                <td class="w-50 fw-600">TOTAL TAX PAYABLE FOR FY 2022-2023</td>
                <td class="w-50 fw-600 text-end">₹5,00,000</td>
            </tr>
        </tbody>
    </table>
    <div class="py-6"></div>
    <table class="td-py-8 td-fs-12">
        <tbody>
            <tr>
                <td class="w-50 fw-600">TAX PAID DETAILS MONTH WISE</td>
                <td class="w-50 fw-600 text-end">₹5,00,000</td>
            </tr>
        </tbody>
    </table>
    <div class="py-6"></div>
    <table class="td-py-6 border table-border-td td-px-6 td-fs-12">
        <tbody>
            <tr>
                <td class="bg1 fw-600" colspan="6">
                    <p>Tax Paid Details</p>
                </td>
            </tr>
            <tr class="text-center td-fw-600">
                <td>
                    <p>APRIL</p>
                </td>
                <td>
                    <p>MAY</p>
                </td>
                <td>
                    <p>JUNE</p>
                </td>
                <td>
                    <p>JULY</p>
                </td>
                <td>
                    <p>AUGUST</p>
                </td>
                <td>
                    <p>SEPTEMBER</p>
                </td>
            </tr>
            <tr class="text-center td-fw-500">
                <td>
                    <p>&#x20B9;87,000</p>
                </td>
                <td>
                    <p>&#x20B9;32,090</p>
                </td>
                <td>
                    <p>&#x20B9;87,000</p>
                </td>
                <td>
                    <p>&#x20B9;32,090</p>
                </td>
                <td>
                    <p>&#x20B9;87,000</p>
                </td>
                <td>
                    <p>&#x20B9;32,090</p>
                </td>
            </tr>
            <tr class="text-center td-fw-600">
                <td>
                    <p>OCTOBER</p>
                </td>
                <td>
                    <p>NOVEMBER</p>
                </td>
                <td>
                    <p>DECEMBER</p>
                </td>
                <td>
                    <p>JANUARY</p>
                </td>
                <td>
                    <p>FEBRUARY</p>
                </td>
                <td>
                    <p>MARCH</p>
                </td>
            </tr>
            <tr class="text-center td-fw-500">
                <td>
                    <p>&#x20B9;87,000</p>
                </td>
                <td>
                    <p>&#x20B9;32,090</p>
                </td>
                <td>
                    <p>&#x20B9;87,000</p>
                </td>
                <td>
                    <p>&#x20B9;87,000</p>
                </td>
                <td>
                    <p>&#x20B9;32,090</p>
                </td>
                <td>
                    <p>&#x20B9;87,000</p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="page-footer">
        <div class="footer-float">This is a system-generated taxslip and does not require a signature</div>
    </div>
</body>
</html>