{% load static %} <html lang="en">
<head>
</head>
<body>
	<table>
		<tbody>
			<tr>
				<td style="width: 50%;">
					<img src="{% static 'img/logo.png' %}" class="logo">
				</td>
				<td class="text-end">
					<p class="fs-16 pb-8 fw-700 ">Company name</p>
					<p class="fs-14 lh-16" style="font-size: 1rem;"> Company address Line 1 State, City, Country -
						Pincode </p>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="hr"></div>
	<p class="fs-16 fw-700 text-center py-18">Payslip for the month of May, 2022</p>
	<table class="">
		<tbody>
			<tr class="border-accent2-dashed">
				<td class="w-25 px-32 py-14 bg1  ">
					<div class="box-accent2 px-12 py-10">
						<p class="fs-16 pb-10">Total Net Pay</p>
						<p class="fs-22 fw-600 text-accent2">₹1,23,000</p>
					</div>
				</td>
				<td class="w-75 p-8 px-22 bg4">
					<p class="fs-12">
						<span class="fw-600">Paid Days:</span>
						<span class="">28 Days</span>
						<span class=" px-12">|</span>
						<span class="fw-600">LOP Days:</span>
						<span class="">2 Days</span>
						<span class=" px-12">|</span>
						<span class="fw-600">LOP Reversal Days:</span>
						<span class="">2 Days</span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="py-8"></div>
	<table class="vertical-align-top">
		<tbody>
			<tr>
				<td class="w-50 p-8 border">
					<table class="td-py-6 td-px-8 td-fs-12">
						<tbody>
							<tr class="">
								<td class="fw-600 w-50">Name:</td>
								<td class="fw-500">
									<p>Madhukar Dhar</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p> Designation:</p>
								</td>
								<td class="fw-500">
									<p> Advanced Solution</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p> Department:</p>
								</td>
								<td class="fw-500">
									<p> Engineering</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p> Location:</p>
								</td>
								<td class="fw-500">
									<p> Bangalore</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p> DOJ:</p>
								</td>
								<td class="fw-500">
									<p> 22/03/2022</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td class="w-50 p-8 border">
					<table class="td-py-6 td-px-8 td-fs-12">
						<tbody>
							<tr>
								<td class="fw-600 w-50">
									<p> Employee ID: </p>
								</td>
								<td class="fw-500">
									<p> EMP700897</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p> Bank Account No: </p>
								</td>
								<td class="fw-500">
									<p> 093847823829437</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p> Bank Name: </p>
								</td>
								<td class="fw-500">
									<p> Federal Bank</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p> PF Number: </p>
								</td>
								<td class="fw-500">
									<p> PF78TE962DA</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p> UAN Number: </p>
								</td>
								<td class="fw-500">
									<p> UAN15ER654S</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p> PAN: </p>
								</td>
								<td class="fw-500">
									<p> BHTPC7812X</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="py-8"></div>
	<table class="vertical-align-top">
		<tbody>
			<tr>
				<td class="w-50">
					<table class="td-py-8 border table-border-tr td-px-8 td-fs-12">
						<thead>
							<tr class="bg2">
								<th class="fw-600 w-75"> Earnings </th>
								<th class="text-end fw-600">
									<p> Total</p>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td class="fw-600">
									<p>Basic: </p>
								</td>
								<td class="text-end">
									<p>&#x20B9;87,000</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p>Basic Arrears:</p>
								</td>
								<td class="text-end">
									<p>&#x20B9;87,000</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p>Basic Reversal:</p>
								</td>
								<td class="text-end">
									<p>&#x20B9;87,000</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p>HRA:</p>
								</td>
								<td class="text-end">
									<p>&#x20B9;32,090</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p>Bonus:</p>
								</td>
								<td class="text-end">
									<p>&#x20B9;87,000</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p>LTA:</p>
								</td>
								<td class="text-end">
									<p>&#x20B9;32,090</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p>Other Benefits:</p>
								</td>
								<td class="text-end">
									<p>&#x20B9;93,566</p>
								</td>
							</tr>
							<tr class="bg2">
								<td class="fw-600">
									<p> Total Earnings </p>
								</td>
								<td class="text-end fw-600">
									<p>&#x20B9;1,29,328</p>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</td>
				<td class="w-50">
					<table class="td-py-8 border table-border-tr td-px-8 td-fs-12">
						<thead>
							<tr class="bg2">
								<th class="fw-600 w-75">
									<p>Deductions </p>
								</th>
								<th class="fw-600 text-end">
									<p>Amount </p>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td class="fw-600">
									<p>Income Tax:</p>
								</td>
								<td class="text-end">
									<p>&#x20B9;5,000</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p>Provident Fund:</p>
								</td>
								<td class="text-end">
									<p>&#x20B9;2,090</p>
								</td>
							</tr>
							<tr>
								<td class="fw-600">
									<p>Professional Tax:</p>
								</td>
								<td class="text-end">
									<p>&#x20B9;1,000</p>
								</td>
							</tr>
							<tr class="bg2">
								<td class="fw-600">
									<p>Total Deductions</p>
								</td>
								<td class="text-end fw-600">
									<p>&#x20B9;8,928</p>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="py-8"></div>
	<table class=" td-px-12 td-py-12 border-accent2">
		<tbody>
			<tr>
				<td>
					<p class="d-flex align-items-center gap-8">
						<span class="fw-600 fs-14">Total Expense Reimbursement:</span>
						<span class=" fs-18 fw-600">&#x20B9;3,000</span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="py-8"></div>
	<table class=" td-px-12 td-py-4 border-accent2">
		<tbody>
			<tr>
				<td>
					<p class="pt-8">
						<span class="fs-18 fw-600">Net Pay for the Month </span>
						<span class="fs-12 ">(Total Earnings - Total Deductions + Expense Reimbursement) =</span>
						<span class="fs-18 fw-600">&#x20B9;1,20,000</span>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="pb-8">
						<span class="fw-600 fs-12">Amount in words:</span>
						<span class=" fs-12"> (Rupees one lakh twenty thousand only)</span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
		<div class="py-8"></div>
	<table class="td-py-6 border table-border-td td-px-6 td-fs-12">
		<tbody>
			<tr>
				<td class="bg1 fw-600" colspan="6">
					<p>Tax Paid Details</p>
				</td>
			</tr>
			<tr class="text-center td-fw-600">
				<td>
					<p>APRIL</p>
				</td>
				<td>
					<p>MAY</p>
				</td>
				<td>
					<p>JUNE</p>
				</td>
				<td>
					<p>JULY</p>
				</td>
				<td>
					<p>AUGUST</p>
				</td>
				<td>
					<p>SEPTEMBER</p>
				</td>
			</tr>
			<tr class="text-center td-fw-500">
				<td>
					<p>&#x20B9;87,000</p>
				</td>
				<td>
					<p>&#x20B9;32,090</p>
				</td>
				<td>
					<p>&#x20B9;87,000</p>
				</td>
				<td>
					<p>&#x20B9;32,090</p>
				</td>
				<td>
					<p>&#x20B9;87,000</p>
				</td>
				<td>
					<p>&#x20B9;32,090</p>
				</td>
			</tr>
			<tr class="text-center td-fw-600">
				<td>
					<p>OCTOBER</p>
				</td>
				<td>
					<p>NOVEMBER</p>
				</td>
				<td>
					<p>DECEMBER</p>
				</td>
				<td>
					<p>JANUARY</p>
				</td>
				<td>
					<p>FEBRUARY</p>
				</td>
				<td>
					<p>MARCH</p>
				</td>
			</tr>
			<tr class="text-center td-fw-500">
				<td>
					<p>&#x20B9;87,000</p>
				</td>
				<td>
					<p>&#x20B9;32,090</p>
				</td>
				<td>
					<p>&#x20B9;87,000</p>
				</td>
				<td>
					<p>&#x20B9;87,000</p>
				</td>
				<td>
					<p>&#x20B9;32,090</p>
				</td>
				<td>
					<p>&#x20B9;87,000</p>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="page-footer">
		<div class="footer-float">This is a system-generated payslip and does not require a signature</div>
	</div>
</body>
</html>